/*header start*/
header .social{
	float: right;
	margin-top: 48px;
}

header .social > a{
	float: left;
	text-decoration: none;
	color: #fff !important;
	background-color: #f04a20;
	font-size:11.87px; 
	font-weight:bold;
	font-family: Open San,serief;
	padding: 13px 20px;
	box-shadow:inset 0 0 10px #000000;
	text-transform: uppercase;
}

header ul{
	float: left;
	margin-left: 35px;
}
header li{
	float: left;
	margin-left: 10px;
	cursor: pointer;
} 
header .social a{
	float: left;
	color: #000;
  	text-decoration: none;
}
.fa-facebook-official:hover,.fa-facebook-official:focus{
	color: #3b5998;
}
.fa-instagram:hover,.fa-instagram:focus{
color:#fb3958	
}
.fa-twitter:hover,.fa-twitter:focus{
	color: #0084b4;
}
.fa-youtube-play:hover,.fa-youtube-play:focus{
	color: #c4302b;
}
.fa-linkedin:hover,.fa-linkedin:focus{
	color: #007bb6;
} 
/*header end*/
/*nav-bar start*/
nav{
	position: relative;
}
.menu{
	float: right;
	margin-top: 9px;
	background-color: #7cb429;
}
nav ul{
	float: left;
}
nav li{
	float: left;
}
nav a{
	display: block;
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	padding: 0 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
}
nav ul li a:hover,nav ul li a:focus{
	color: #f04a20;
	text-decoration: underline;
}
nav img{
	position: absolute;
	top: -76px;
    left: 247px;
}
/*nav-bar end*/
/*slider notice start*/
.notice{
	float: left;
	position: relative;
	border:1px solid #fff;
	width: 330px;
	height:370px;
	background-color: #fff;
	 box-shadow: -10px -10px 4px #9dab84;
	 margin-top: 100px;
}
.notice h2{
	position: absolute;
	text-transform: uppercase;
	color: #fff;
	background-color: #f04a20;
	font-size: 13.88px;
	padding: 10px 10px;
	top: 20px;
	left: 14px;

}
.owl-carousel{
	margin-top: 20px;
}
.notice h3{
	font-size: 33.88px;
	text-transform: uppercase;
	margin: 58px 0 0 14px;
}
.notice h5{
	font-size: 24.6px;
	margin: 5px 0 0 14px;
}
.notice p{
	font-size: 15px;
	margin: 23px 0 0 14px;
}
/*slider notice end*/
/*dots start*/
.no-js .owl-carousel, .owl-carousel.owl-loaded{
	position: relative;
}
.owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 0 !important;
	position: absolute;
	top: 0;
	right: 0;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f04a20 !important;
}
.notice a{
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	border:2px solid #14161a;
	padding: 12px 27px;
	width: 145px;
	font-weight: bold;
	margin: 30px 0 0 14px;
}
/*dots end*/
/*tree start*/
/*section{
	position: relative;
}*/
section .center{
	position: relative;
}
section >.center >input{
	float: right;
	background:url(../images/search.png) right center no-repeat;
	height: 40px;
	border: 1px solid #fff;
	border: none;
	margin-top: 20px;
	color: #fff;
	width: 42px;
	transition: .5s;
}
section >.center >input:focus {
	width: 150px;
	padding: 0 32px 0 10px;
	height: 42px;
}
.tree{
	float: right;
	position: absolute;
    width: 490px;
    top: 67px;
    right: 84px;
    z-index: 1;
}
.tree .b-img{
	position: absolute;
	bottom: 179px;
    right: 33px;
}
.tree .b-img:hover,.g-img:hover,.k-img:hover,.p-img:hover,.a-img:hover,.h-img:hover,.r-img:hover,.m-img:hover{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        transition: 1s;
        -ms-filter: "FlipH";
}
.tree .g-img{
	position: absolute;
    bottom: 179px;
    left: 118px;
}
.tree .k-img{
	position: absolute;
	bottom: 255px;
    left: 101px;
    width: 122px;
    height: 103px;
}
.tree .p-img{
	position: absolute;
	top: 182px;
    left: 0;
    width: 93px;
    height: 90px
}
.tree .a-img{
	position: absolute;
	top: 73px;
    left: 108px;
    width: 89px;
    height: 123px
}
.tree .h-img{
	position: absolute;
	top: 99px;
    left: 210px;
    width: 100px;
    height: 75px;
}
.tree .r-img{
	position: absolute;
	top: 80px;
    right: 21px;
	width: 137px;
	height: 109px;
}
.tree .m-img{
	position: absolute;
	top: 170px;
    right: -71px;
    width: 88px;
    height: 90px;
}
.tree .Nyan{
	position: absolute;
	bottom: 312px;
    right: 29px;
}
/*tree end*/
/*main start*/
main .center{
	position: relative;
}
main .center .putali{
	position: absolute;
	top: -42px;
    left: -50px;
    height: 220px;
}
/*main end*/
/*footer start*/
footer{
	background-color: #f04a20;
}
footer p{
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 25.39px;
	height: 100px;
	line-height: 100px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
footer a{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}
/*footer end*/